.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgContainer{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}
.cardContainer{
    height:150px;
    width: 280px;
    background-color: white;
    padding: 20px;
    box-sizing:border-box;
    box-shadow: 0 0 10px 5px grey;
}
.cardBorders{
    border: 2px solid orangered;
    border-radius: 10px ;
}
.buttonContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.heading{
    font-family: "Roboto";
    font-size: 18px;
    color: black;
    text-align:center    
}
.button{
    height:30px;
    width:70px;
    background-color: green;
    font-size:14px;
    font-family:"Roboto";
    color: white;
    border: none;
    border-radius: 5px;
}


/* javascript styles */

.heading_js{
    font-family: "Roboto";
    font-size: 14px;
    color: rgb(68, 4, 106);
    text-align:center   
}
.button_js{
    height:30px;
    width:60px;
    background-color: rgb(0, 123, 255);
    color: white;
    font-size:14px; 
    font-family:"Roboto";   
    border: none;
    border-radius: 5px;
}